/*ウェブフォントを使用する場合はここに定義を追加して下さい*/

@font-face {
	font-family:"TA丸ゴGF05", "mfrules";
	src:url("../data/others/Mf_Break_The_Rules.eot?") format("eot"),
	url("../data/others/Mf_Break_The_Rules.woff") format("woff"),
	url("../data/others/Mf_Break_The_Rules.ttf") format("truetype"),
	url("../data/others/Mf_Break_The_Rules.svg#MfBreakTheRules") format("svg"),
    url("../data/others/TA_marugo_gf_05.ttf") format("truetype");
	font-weight:normal;font-style:normal;
}
